body {
    font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin:  50px;
}

div {
    margin: 10px;
    padding: 10px;
}

input {
    float:right;
    clear:both;
}

.hidden {
    display:  none;
}

#survey {
    background-color: antiquewhite;
}